{% extends "fabric_shop/base.html" %}
{% load static %}

{% block title %}
<title> Регистрация на сайте </title>
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
	<link rel="icon" href='{% static "fabric_shop/img/Fevicon.png" %}' type="image/png">
  <link rel="stylesheet" href='{% static "fabric_shop/vendors/bootstrap/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "fabric_shop/vendors/fontawesome/css/all.min.css" %}'>
	<link rel="stylesheet" href='{% static "fabric_shop/vendors/themify-icons/themify-icons.css" %}'>
  <link rel="stylesheet" href='{% static "fabric_shop/vendors/nice-select/nice-select.css" %}'>
  <link rel="stylesheet" href='{% static "fabric_shop/vendors/owl-carousel/owl.theme.default.min.css" %}'>
  <link rel="stylesheet" href='{% static "fabric_shop/vendors/owl-carousel/owl.carousel.min.css" %}'>

  <link rel="stylesheet" href='{% static "fabric_shop/css/style.css" %}'>
</head>
<body>

{#<div class="container">#}
{#    <div class="form-section">#}
{#        <h2>Авторизация</h2>#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            {{ form|crispy }}#}
{#            <botton type="submit" class="btn btn-outline-warning"> Зарегистрироваться</botton>#}
{#        </form>#}
{#        <hr>#}
{#        Уже зарегистрированы? <a href="#">Войти</a>#}
{#    </div>#}
{#</div>#}

{#    <h1>Вход на сайт</h1>#}
{#    {% if error %}#}
{#        <div style="color:red;">{{ error }}</div>#}
{#    {% endif %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="username" placeholder="Логин">#}
{#        <input type="password" name="password" placeholder="Пароль">#}
{#        <input type="submit" value="Войти">#}
{#    </form>#}

<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Первый раз на нашем сайте?</h4>
							<p>Пройдите быструю регистацию и соверешайте покупки в нашем интернет-магазине</p>
							<a class="button button-account" href="{% url 'register'  %}">Зарегистрироваться</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Вход на сайт</h3>
                        {% if error %}
                        <div style="color:red;">{{ error }}</div>
                         {% endif %}
						<form method="post">
                            {% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control"  name="username" placeholder="Логин" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control"  name="password" placeholder="Пароль" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Войти</button>
								<a href="#">Забыли пароль?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

</body>
  <script src='{% static "fabric_shop/vendors/jquery/jquery-3.2.1.min.js" %}'></script>
  <script src='{% static "fabric_shop/vendors/bootstrap/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "fabric_shop/vendors/skrollr.min.js" %}'></script>
  <script src='{% static "fabric_shop/vendors/owl-carousel/owl.carousel.min.js" %}'></script>
  <script src='{% static "fabric_shop/vendors/nice-select/jquery.nice-select.min.js" %}'></script>
  <script src='{% static "fabric_shop/vendors/jquery.ajaxchimp.min.js" %}'></script>
  <script src='{% static "fabric_shop/vendors/mail-script.js" %}'></script>
  <script src='{% static "fabric_shop/js/main.js" %}'></script>

</html>
{% endblock %}